/* Stylesheet by Xun Gong, 2024 */


.regions {
    stroke: #ffffff;
    stroke-width: 0.5px;
    stroke-linecap: round;
    fill: #005daa;
}

.map {
    fill: #f8fafb;
    margin: 20px 0 0 20px;
}

h1, h2 {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 2em;
    font-weight: 100;
    color: #005DAA;
}
h2 {
    top: 60px;
    font-size: 1.2em;
}

